git+https://github.com/CakesTwix/toloka2python
git+https://github.com/CakesTwix/Toloka2MediaServer
git+https://github.com/maksii/Stream2MediaServer
Flask
Flask-Login
Flask-Principal
Flask-Bcrypt
Flask-SQLAlchemy
Flask-WTF
Flask-CORS
Flask-JWT-Extended==4.5.3
SQLAlchemy
requests
configparser
setuptools
jsonpickle
flask-restx>=1.1.0