<div class="modal fade" id="addReleaseModal" tabindex="-1" aria-labelledby="addReleaseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addReleaseModalLabel">Add Release</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="releaseForm">
            <div class="input-group mb-3">
                <div class="form-floating flex-grow-1">
                    <input type="url" name="url" class="form-control" id="tolokaUrl" placeholder="https://toloka.to/t678205" required>
                    <label for="tolokaUrl">URL</label>
                </div>
                <button class="btn btn-outline-secondary" id="urlButton" type="button">
                    <i class="bi bi bi-file-binary"></i>
                </button>
            </div>
            <div class="input-group mb-3 d-none" id="filenameIndexGroup">
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" id="filenameIndex" placeholder="[Inari Dub] Arknights Touin Kiro S01 E09 (1080) (UA).mkv" pattern=".*\..+">
                    <label for="filenameIndex">Index Extractor</label>
                    <div id="numberList" class="list-group"></div>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="form-floating flex-grow-1">
                    <input type="text" name="title" class="form-control" id="releaseTitle" placeholder="Arknights (2022)" required>
                    <label for="releaseTitle">Title</label>
                </div>
                <button class="btn btn-outline-secondary" id="cutButton" type="button">
                    <i class="bi bi-scissors"></i>
                </button>
            </div>
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="number" name="season" class="form-control" id="season" placeholder="2" min="0" required>
                        <label for="season">Season</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="number" name="index" class="form-control" id="index" placeholder="2" min="1" required>
                        <label for="index">Index</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="number" name="correction" class="form-control" id="correction" placeholder="-8">
                        <label for="correction">Correction</label>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary full-width-button" id="submitButton" data-bs-dismiss="modal">Submit</button>
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>