{% extends 'base.html' %}

{% block title %}Toloka2MediaServer v2024.06.08.2112{% endblock %}

{% block additional_head %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<link href="https://cdn.datatables.net/v/bs5/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/date-1.5.2/r-3.0.2/sc-2.4.3/sp-2.3.1/sl-2.0.3/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/bs5/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/date-1.5.2/r-3.0.2/sc-2.4.3/sp-2.3.1/sl-2.0.3/datatables.min.js"></script>
{% endblock %}

{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">

    </main>
{% endblock %}