<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark" data-bs-language="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Toloka2Web{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="512x512"
        href="{{ url_for('static', filename='img/favicon/android-chrome-512x512.png') }}">
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">
    <!-- jQuery first -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- Bootstrap and Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- DataTables -->
    <link
        href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.3.7/af-2.7.1/b-3.2.6/b-colvis-3.2.6/b-html5-3.2.6/b-print-3.2.6/cr-2.1.2/cc-1.2.0/date-1.6.3/fc-5.0.5/fh-4.0.5/kt-2.12.2/r-3.0.8/rg-1.6.0/rr-1.5.1/sc-2.4.3/sb-1.8.4/sp-2.3.5/sl-3.1.3/sr-1.4.3/datatables.min.css"
        rel="stylesheet" integrity="sha384-VQ50WUfDuV9BJKnkIXOIVBTJytdmetbSR/OK7/5C/5xKthSQHISIjr1O//dWAYhJ"
        crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script
        src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.3.7/af-2.7.1/b-3.2.6/b-colvis-3.2.6/b-html5-3.2.6/b-print-3.2.6/cr-2.1.2/cc-1.2.0/date-1.6.3/fc-5.0.5/fh-4.0.5/kt-2.12.2/r-3.0.8/rg-1.6.0/rr-1.5.1/sc-2.4.3/sb-1.8.4/sp-2.3.5/sl-3.1.3/sr-1.4.3/datatables.min.js"
        integrity="sha384-npNw/1ELTRibkn0AP9jS/twyv59eunl/q+7lWfN4nFjpW6S9dru6dDLKzPhlXznU"
        crossorigin="anonymous"></script>

    <!-- markdown -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script>

    <!-- Custom Styles and Scripts -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/common/color-modes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common/language-modes.js') }}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    {% block additional_head %}{% endblock %}
</head>

<body class="d-flex flex-column h-100" id="{% block body_id %}{% endblock %}">
    <div class="backdrop"></div>

    <!-- Import Macros -->
    {% import 'partials/alerts.html' as alerts %}
    {% import 'partials/form-elements.html' as forms %}
    {% import 'partials/cards.html' as cards %}
    {% import 'partials/data-table.html' as tables %}

    <!-- Theme switcher and Navigation -->
    {% include 'partials/theme_switcher.html' %}
    {% include 'partials/language_switcher.html' %}
    {% include 'partials/navbar.html' %}

    <!-- Main content area -->
    {% block content %}{% endblock %}

    <!-- Common Components -->
    {% include 'partials/components.html' %}
    {% include 'partials/add-release.html' %}

    <!-- Footer -->
    {% include 'partials/footer.html' %}

    {% block additional_scripts %}{% endblock %}
</body>

</html>