{% extends 'base.html' %}

{% block body_id %}releases-page{% endblock %}

{% block additional_head %}
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">


    <div class="container-fluid">
        <div class="row">
            <!-- Left Side content -->
            <div class="col-md-4 d-none" id="leftSideAdd">
                <div class="row">
                    <!-- Section 1 -->
                    <div class="col-md-12">
                    </div>
                    </div>
            </div>
            <!-- End of Left Side content -->
    
            <!-- Right Side content -->
            <div class="col-md-12" id="rightSideTitles">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Added Titles</h5>
                                <table id="dataTableTitles" class="table table-striped" style="width:100%"></table>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
            <!-- End of Right Side content -->
        </div>
    
    </div>
    
    </main>
{% endblock %}