{% extends 'base.html' %}

{% block body_id %}releases-page{% endblock %}

{% block additional_head %}
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container-fluid">
        <div class="row">
            <!-- Left Side content -->
            <div class="col-md-4 d-none" id="leftSideAdd">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Placeholder for future content -->
                    </div>
                </div>
            </div>
            
            <!-- Right Side content -->
            <div class="col-md-12" id="rightSideTitles">
                {{ tables.data_table_with_header(
                    table_id='dataTableTitles',
                    title='Added Titles',
                    buttons='<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addReleaseModal">
                        <i class="bi bi-plus-circle me-2"></i>Add Release
                    </button>'
                ) }}
            </div>
        </div>
    </div>
         <!-- Edit Release Modal -->
         <div class="modal fade" id="editRelease" tabindex="-1" aria-labelledby="editReleaseLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editReleaseLabel">Edit Release</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="dataForm">
                            <!-- Form fields will be populated here -->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="editReleaseSubmitForm">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}