{% extends 'base.html' %}

{% block additional_head %}
<link href="{{ url_for('static', filename='/css/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="form-signin w-100 m-auto">
    <form method="post">
        {{ form.hidden_tag() }}
      <img class="mb-4" src="{{ url_for('static', filename='/img/full-logo.png') }}" alt="" width="250" height="250" style="margin-left: 25px;">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      {% for message in get_flashed_messages(category_filter=["error"]) %}
      <div class="alert alert-danger" role="alert">
          {{ message }}
      </div>
      {% endfor %}
      <div class="form-floating mb-3">
        {{ form.username(class_="form-control", id="floatingUsername", placeholder="Username") }}
        {{ form.username.label(class_="form-label", for="floatingUsername") }}
        {% for error in form.username.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
    </div>

    <div class="form-floating mb-3">
        {{ form.password(class_="form-control", id="floatingPassword", placeholder="Password") }}
        {{ form.password.label(class_="form-label", for="floatingPassword") }}
        {% for error in form.password.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
    </div>
  
    <div class="form-check text-start my-3">
      {{ form.remember_me(class_="form-check-input", id="flexCheckDefault") }}
      {{ form.remember_me.label(class_="form-check-label", for="flexCheckDefault") }}
  </div>
      <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
      <a href="{{ url_for('register') }}">Register</a>
    </form>
  </main>
{% endblock %}