{% extends 'base.html' %}
{% block body_id %}register-page{% endblock %}
{% block additional_head %}
<link href="{{ url_for('static', filename='/css/signin.css') }}" rel="stylesheet">
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block content %}
<main class="form-signin w-100 m-auto">
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="text-center mb-4">
            <img src="{{ url_for('static', filename='img/full-logo.png') }}" alt="Logo" width="250" height="250">
            <h1 class="h3 mb-3 fw-normal">Create Account</h1>
        </div>

        {{ forms.form_messages() }}
        
        {{ forms.floating_input(form.username, type="text", placeholder="Username", required=true) }}
        {{ forms.floating_input(form.password, type="password", placeholder="Password", required=true) }}
        {{ forms.floating_input(form.confirm_password, type="password", placeholder="Confirm Password", required=true) }}

        {{ forms.submit_button(
            text="Register",
            icon_class="bi bi-person-plus",
            additional_classes="mb-3"
        ) }}

        <div class="text-center">
            <a href="{{ url_for('login') }}" class="btn btn-outline-primary">
                <i class="bi bi-box-arrow-in-right me-2"></i>Sign In
            </a>
        </div>
    </form>
</main>
{% endblock %}