{% extends 'base.html' %}
{% block body_id %}settings-page{% endblock %}
{% block additional_head %}
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container-fluid">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="system-tab" data-bs-toggle="tab" data-bs-target="#system-tab-pane" type="button" role="tab" aria-controls="system-tab-pane" aria-selected="true">System</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" disabled>Profile</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="configuration-tab" data-bs-toggle="tab" data-bs-target="#configuration-tab-pane" type="button" role="tab" aria-controls="configuration-tab-pane" aria-selected="false">Configuration</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="users-tab" data-bs-toggle="tab" data-bs-target="#users-tab-pane" type="button" role="tab" aria-controls="users-tab-pane" aria-selected="false" disabled>Users</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="system-tab-pane" role="tabpanel" aria-labelledby="system-tab" tabindex="0">
                <div class="row">
                    <div class="mt-5">
                        <button type="button" class="btn btn-primary" id="showToast">Show Versions</button>
                    </div>
                
                    <!-- Positioning Toast at bottom-right -->
                    <div class="position-fixed bottom-0 end-0 p-3 toast-container" style="z-index: 11">
                        <!-- Toasts will be dynamically inserted here -->
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="configuration-tab-pane" role="tabpanel" aria-labelledby="configuration-tab" tabindex="0">
                <div class="row">
                    <div class="col">
                        <div class="alert alert-info" role="alert">
                            The page in development and in the current state is only able to display the data already saved in the database. You can change open_registration. Other properties will not make any affect, as there no sync in\to app.ini
                        </div>
        
                    </div>
                </div>
            <div class="row">
                <div class="col">
                    <table id="settingsTable" class="table table-striped" style="width:100%">
                    </table>
                </div>
            </div>

            </div>
            <div class="tab-pane fade" id="users-tab-pane" role="tabpanel" aria-labelledby="users-tab" tabindex="0">...</div>
          </div>
</div>
</main>
{% endblock %}