{% extends 'base.html' %}

{% block additional_head %}

<script src="{{ url_for('static', filename='/js/settings.js') }}"></script>s
{% endblock %}

{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="alert alert-info" role="alert">
                    The page in development and in the current state is only able to display the data already saved in the database. You can change open_registration. Other properties will not make any affect, as there no sync in\to app.ini
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col">
            <table id="settingsTable" class="table table-striped" style="width:100%">
            </table>
        </div>
    </div>
</div>
</main>
{% endblock %}