{% extends 'base.html' %}

{% block additional_head %}

<script src="{{ url_for('static', filename='/js/studios.js') }}"></script>
{% endblock %}

{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="alert alert-info" role="alert">
                The information provided is a backup of the public API from AnimeOn site as for 08.06.2024.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="studiosTable" class="table table-striped" style="width:100%">
            </table>
        </div>
    </div>
</div>
</main>
{% endblock %}