{% extends 'base.html' %}
{% block body_id %}studios-page{% endblock %}
{% block additional_head %}
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container-fluid">
        {{ alerts.info_alert('The information provided is a backup of the public API from AnimeOn site.') }}
        {{ tables.data_table_with_header(
            table_id='studiosTable',
            title='Voiceover Studios',
            buttons='<button type="button" class="btn btn-outline-secondary" id="refreshStudios">
                <i class="bi bi-arrow-clockwise me-2"></i>Refresh
            </button>'
        ) }}
    </div>
</main>
{% endblock %}