{% extends 'base.html' %}
{% block body_id %}studios-details-page{% endblock %}
{% block additional_head %}
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container-fluid">
        <div class="row">
            <!-- Studio Details Column -->
            <div class="col-md-3">
                {{ cards.detail_card(
                    title='Studio Name',
                    subtitle='telegram',
                    content=None,
                    links=None
                ) }}
            </div>
            
            <!-- Anime Titles Column -->
            <div class="col-md-9">
                {{ tables.data_table_with_header(
                    table_id='titlesTable',
                    title='Anime Titles'
                ) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}