name: CI

on:
  push:
    branches:
      - '*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Determine Docker Tag
        id: set_docker_tag
        run: |
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "::set-output name=tag::latest"
          else
            BRANCH_NAME=$(echo ${{ github.ref }} | sed 's|refs/heads/||')
            echo "::set-output name=tag::$BRANCH_NAME"
          fi

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: maksii/toloka2web:${{ steps.set_docker_tag.outputs.tag }}
